<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        <title>BookRec -
                {% block title_block %}
                    User Perception of Different Recommender Systems
                {% endblock %}
        </title>
    </head>
    <body>
        <header class="header">
            <h1 class="header-title">Survey on User Perception of Differences in Book Recommender Algorithms</h1>
            <a href="https://www.uni-koblenz.de/de/informatik" target="_blank"> <img src="{% static 'images/UK_FB4_Logo_eng_Schutzraum.png' %}" alt="Logo" class="header-image" data-title="University Logo Header"></a>
        </header>

        <div class="container-main">
            {% block messages %}
            {% if messages %}
            <ul class="messages {% if message.tags %}{{ message.tags }}{% endif %}">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endblock %}
            {% block body_block %}{% endblock %}
        </div>
        <footer>
            <div class="container-footer">
                <div class="footer-content">
                    <p>&copy; 2023 Clemens Steinmann</p>
                    <p>Contact: csteinmann@uni-koblenz.de</p>
                    <p><a href="https://md.ekstrandom.net/static/pubs/listcmp.pdf" target="_blank" data-title="Source Ekstrand">Research inspired by</a></p>
                </div>
                <div class="footer-image">
                    <a href="https://www.uni-koblenz.de/de/informatik/west/" target="_blank"> <img src="{% static 'images/UK_Pfeil_CMYK.png' %}" alt="Image Description" data-title="University Arrow Footer"></a>
                </div>
            </div>
        </footer>
    <script src="{% static 'js/logging.js' %}"></script>
    </body>
</html>