<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../../../static/style.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookRec -
            {% block title_block %}
                User Perception of Different Recommender Systems
            {% endblock %}
    </title>
</head>
<body>
    <div>
        {% block body_block %}
        {% endblock %}
    </div>
</body>
</html>