<!DOCTYPE html>
{% extends 'bookrec/base.html' %}
{% load crispy_forms_filters %}

{% block title_block %}
    Home
{% endblock %}
{% block body_block %}
    <p>
    <strong>Dear Participant,</strong> <br>
        Thank you for taking the time to participate in our survey on user perception of book recommender algorithms.
        Your valuable insights will contribute significantly to our research in this field. Before you proceed,
        we kindly request that you <strong>conscientiously complete the demographics form</strong>,
        as this information will aid us in better understanding the diverse perspectives of our participants.
        Please be assured that <strong>all data collected will be kept strictly anonymous and will solely be used for research purposes</strong>,
        maintaining your privacy and confidentiality throughout the study.
        Upon submitting your data, you will be redirected to a detailed description of the research scenario.
        Your input is highly appreciated, and we look forward to gaining valuable insights from your responses.
    </p>
    <form method="POST">
        {% csrf_token %}
        {{ demographic_form|crispy }}
        <button type="submit" class="loggingButton btn btn-info" id="btn" data-title="Submit Demographics">Submit</button>
    </form>
{% endblock %}