<!DOCTYPE html>
{% extends 'bookrec/base.html' %}
{%  load static %}

{% block title_block %}
Thank You
{% endblock %}

{% block body_block %}
    <div class="center-container">
        <h1>Thank You for Taking the Survey!</h1>
    </div> <br>
    <div class="center-container">
    <p>
        If you're willing to contribute further to the study, you can <strong>participate again</strong> by clicking the button below.
        You will, of course, be presented with a <strong>different set of recommendations</strong>.
    </p>
    </div><br>
    <div class="center-container">
        <strong>Back to the survey</strong>
    </div>
    <div class="center-container">
        <button class="loggingButton btn btn-info"
                onclick="window.location.href='{% url 'bookrec_app:survey' %}'"
                data-title="Back to Survey Thank You">
            Survey
        </button>
    </div>
    <br><br>
    <div class="center-container">
        The following code gives you credits that can be used to get free research participants at SurveySwap.io. <br>
    </div>
    <div class="center-container">
        Go to: <a href="https://surveyswap.io/sr/E05H-NTPL-JX6Y">https://surveyswap.io/sr/E05H-NTPL-JX6Y</a> <br>
    </div>
    <div class="center-container">
        Or, alternatively, enter the code manually: E05H-NTPL-JX6Y
    </div>
{% endblock %}
