@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.center {
  margin: auto;
  width: 60%;
  border: gray;
  padding: 10px;
}

.service-list {
list-style-type: none;
margin-left:0;
  margin-top: 10px;
padding-left:0;
display: inline-block;
}

.service-list img
{
float:left;
}

.service-list p,.service-list h3 {
text-align: left;
display:inline-block;
padding: 0;
}

